<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Message</a><br />
<table>
    <tr>
        <th>Content</th>
        <th>Date</th>
        <th>Sent By</th>
        <td>Actions</td>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.date}"></td>
        <td th:text="${message.sentby}"></td>
        <td><div th:if="${message.image} != null">
            <img th:src="${message.image}" /></div></td>
        <td>
            <a th:href="@{/update/{id}(id=${message.id})}"> </a>
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td></tr>
<!--    <div th:each="message : ${messages}">-->
<!--        <img th:src="${message.image}"/>-->
<!--    </div>-->
</table>
</body>
</html>